amqp
asgiref
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cryptography
defusedxml
Django
django-allauth
django-colorfield
django-jazzmin
django-multiupload
djangorestframework
et-xmlfile
gunicorn
isodate
kombu
numpy
oauthlib
odfpy
openpyxl
pandas
Pillow
prompt-toolkit
psycopg2-binary
pycountry
PyJWT
pypng
python-dateutil
python3-openid
pytz
qrcode
redis
requests
requests-oauthlib
six
sqlparse
typing_extensions
urllib3
vine
wcwidth
