{% extends "admin/change_form.html" %}
{% load static %}

{% block submit_buttons_bottom %}
{{ block.super }}

<div class="form-group">
    <br>
    <a href="{% url 'qr_request_form' %}?campaign_id={{request.resolver_match.kwargs.object_id}}"><input type="button" value="Add QR Code" class="btn btn-info form-control" name="add_qr_code"></a>
</div>
<div class="form-group">
    <br>
    <a href="{% url 'sales_data_form' %}?campaign_id={{request.resolver_match.kwargs.object_id}}"><input type="button" value="Upload Sales Data" class="btn btn-info form-control" name="upload_sales_data"></a>
</div>
{% endblock %}
